# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Custom Security & Configs
application.properties
application-*.properties
application.yml
application-*.yml
.env
.env.*
*.pem
*.key
*.pub
*.jks
*.p12
